/* Reset margin, padding, font family, dan box-sizing untuk semua elemen */
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/* Gaya untuk kontainer utama */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #085f2c, rgb(58, 158, 100));
    padding: 10px;
}

/* Gaya untuk bagian aplikasi Todo */
.Todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0.5, 0, 0, 0.5);
    margin: 100px auto 20px;
    padding: 25px 30px 70px;
    border-radius: 10px;
}

/* Gaya untuk judul aplikasi Todo */
.Todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* Gaya untuk ikon aplikasi Todo */
.Todo-app h2 img {
    width: 50px;
    height: 55px;
    margin-left: 10px;
}

/* Gaya untuk baris input */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 0 5px 30px rgba(0.5, 0, 0, 0.5);
}

/* Gaya untuk elemen input */
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

/* Gaya untuk elemen tombol */
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(73, 151, 94);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 30px rgba(0.5, 0, 0, 0.5);
}

/* Gaya untuk elemen daftar */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* Gaya untuk ikon centang sebelum setiap elemen daftar */
ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(check.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

/* Gaya untuk elemen daftar yang dicentang */
ul li.checked {
    color: #555;
    text-decoration: line-through;
}

/* Mengubah ikon centang untuk elemen yang dicentang */
ul li.checked::before {
    background-image: url(checklist.png);
}

/* Gaya untuk elemen span (tombol hapus) pada setiap elemen daftar */
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

/* Efek hover untuk tombol hapus */
ul li span:hover {
    background: #edeef0;
}

/* Gaya untuk informasi tambahan di bagian bawah */
p {
    font-size: 12px;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 575px;
}
